<div class="nk-sidebar nk-sidebar-fixed is-light" data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            <a href="" class="logo-link nk-sidebar-logo">
                <img width="70%" class="logo-img logo-img-lg" src="https://www.esisalama.com/assets/img/logo.png" alt="logo">
            </a>
        </div>
        <div class="nk-menu-trigger mr-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">
                <em class="icon ni ni-arrow-left"></em>
            </a>
            <a href="#" class="nk-nav-toggle nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu">
                <em class="icon ni ni-menu"></em>
            </a>
        </div>
    </div>
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-item">
                        <a href="{{ path('app_dashboard') }}" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-bar-fill-c"></em></span>
                            <span class="nk-menu-text">Statistiques</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="{{ path('app_command_index') }}" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-send"></em></span>
                            <span class="nk-menu-text">Commandes</span>
                        </a>
                    </li>
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">Données</h6>
                    </li>
                    <li class="nk-menu-item">
                        <a href="{{ path('app_user_index') }}" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span>
                            <span class="nk-menu-text">Administrateurs</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="{{ path('app_subscription_index') }}" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-activity-alt"></em></span>
                            <span class="nk-menu-text">Abonnements</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
