{% extends '_layout/base.html.twig' %}

{% block section %}
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Utilisateurs</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card card-preview">
        <table class="table table-orders">
            <thead class="tb-odr-head">
            <tr class="tb-odr-item">
                <th>ID</th>
                <th>Email</th>
                <th class="tb-odr-action">Action</th>
            </tr>
            </thead>
            <tbody class="tb-odr-body">
            {% for item in items %}
                <tr class="tb-odr-item">
                    <td>{{ item.id }}</td>
                    <td class="fw-bolder">{{ item.email }}</td>
                    <td class="tb-odr-action">
                        {% if app.user.id != item.id %}
                            <div class="tb-odr-btns d-none d-md-inline">
                                <button class="btn btn-sm btn-danger" data-delete-button data-target="tr" data-token="{{ csrf_token('delete_' ~ item.id) }}" data-url="{{ path('app_user_delete', {id: item.id}) }}">
                                    Supprimer
                                </button>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
